@charset "ISO-8859-1";


/*	Standard Sticky Navbar Definition	*/
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	vertical-align:cernter;
	display:inline-block;
	background-color:#44D9E6;
	overflow:hidden;
	top:0;
	width:100%;}
	
li{
	float:left;
	display:block;
}

li a{
	font-style:normal;
	font-family:aileron, sans-serif;
	font-weight:200;
	font-size:125%;
	float:left;
	display:block;
	color:white;
	text-align:center;
	padding:10px;
	text-decoration:none;}

.content{
	padding: 16px;}

.sticky{
	position: fixed;
	top:0;
	width:100%;}

.sticky+.content{
	padding-top:60px;}
	
.active{
	color:white;
	background-color:#44D9E6;}

/**Declarations for Navbar behavior*/
a:link{
	color:white;
	font-family:aileron, sans-serif;
	font-weight:400;}
	
a:hover{
	color:black;
	font-family:aileron, sans-serif;
	font-weight:400;}

li a:hover{
	color:#44D9E6;
	background-color:gray;
}

li a:hover:not(.active){
	color:white;}
/**End Declarations for Navbar Behavior*/

header{
	font-style:normal;
	font-family:aileron, sans-serif;
	font-weight:300;
	font-size:200%;
	background-color:#E5E5E5;
	text-align:right;
	padding:0px;
	margin-bottom:75px;}

h1{
	font-style:normal;
	font-family:arial;
	font-weight:60;
	font-size:100;
	background-color:#E5E5E5;
	text-align:left;
	margin-top:10px;
	margin-left:0;
	margin-bottom:3;}

h2{
	font-style:normal;
	font-family:arial;
	font-weight:60;
	font-size:100;
	margin:0px;
  	color:#414141;}

body{
	margin:0;
	padding:0;}

/*	Standard Non-Logo Image Definition	*/
img{
	border: 2px solid #ddd;
	border-radius: 2px;
	margin: 5px;
	padding: 2px;}

img:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}

/*	Standard Accenting	*/
pre, p{
	border: 2px solid #E65144;
	padding-top:10px;
	padding-left:10;
	padding-bottom:20px;
	margin-top:100;
	margin-left:10;
	margin-bottom:10;}


footer{
	font-style:normal;
	font-family:aileron, sans-serif;
	font-weight:400;
	color:#44D9E6;
	background-color:#E5E5E5;
	text-align:center;
	font-size:100%;
	padding:5px;
	margin:0px;}
